
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap');


body {
    font-family: 'Press Start 2P', cursive;
    background-image: url('./images/spaceBg.webp');
}

.success {
    background-color: #00FF38;
    opacity: 0.8;
}

.fail {
    background-color: rgb(255, 0, 0);
    opacity: 0.8;
}

.yellowBg {
    background-color: #FFDD57;
}

.violetBg {
    background-color: #D506FA;
}

.greenBg {
    background-color: #00FF38;
}

.gradientVioletText {
    background: #CF0000;
    background: linear-gradient(to right, #CF0000 0%, #4400FF 63%, #00CFCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.largeText {
    font-size: 70px;
    font-weight: 900;
}

.borderDashed {
    border-style: dashed solid;
}

.visible {
    visibility: visible;
}

.popUp {
    height: 60%;
    left: 13.2%;
    z-index: 1;
    visibility: collapse;
}

.popUpContent {
    height: 200px;
}

#msgErr {
    z-index: 1;
    top: 19%;
    left: 0%;
    opacity: 0.55;
    color: #ffffff;
}